<main class="container">
  <div class="search-div" id="search-div">
    <form class="form" action="/search" method="POST">
      <input type="text" name="input" class="input" id="input" placeholder="Enter Your Meal !!" required>
      <input type="submit" class="search-btn" id="search-btn">
    </form>
  </div>
  <div class="result" id="result">
      {{#each meals}}
    <div class="meal">
      
        <div class ='meal-img-div'>
          <img src="{{this.strMealThumb}}" alt="meal-image" class="meal-img">
        </div>
        <div class="meal-content">
          <h1 class="meal-name">{{this.strMeal}} </h1>
        <div class="ingratients">
          <h3>Ingredients</h3>
          <ul class="ingratients-list">
            {{#each (Ingredient this) }}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <p class="youtube-para">How to Do it !!</p>
        <a class="youtubeLink" href="{{this.strYoutube}}">Youtube</a>
        <a class="youtubeLink" href={{this.strSource}}>Source Link</a>
      </div>

    </div>
       
      {{/each}}
  </div>
</main>

