<main>
  <div class="search-div" id="search-div">
    <form action="/search" method="POST">
      <input type="text" name="input" class="input" id="input" placeholder="Enter Your Meal !!">
      <input type="submit" class="search-btn" id="search-btn">
      {{!-- <button class="search-random-btn" id="search-random-btn">Random Meal</button> --}}
    </form>
  </div>
  <div class="result" id="result">
      {{#each meals}}
    <div class="meal">
      <h1>{{this.strMeal}} </h1>
      <div class="meal-content">
        <img src="{{this.strMealThumb}}" alt="meal-image" class="meal-img">
        <div class="content">
          <ul>
            <li>{{this.strIngredient1}}</li>
            <li>{{this.strIngredient2}}</li>
            <li>{{this.strIngredient3}}</li>
          </ul>
        </div>
        <p>you can watch how to make it here :<a href="{{this.strYoutube}}">click here </a></p>
        <p>source : <a href="{{this.strSource}}"></a></p>
      </div>

    </div>
       
      {{/each}}
  </div>
</main>

